@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

/* HTML selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", Arial, Helvetica, sans-serif;
}
body {
  background: rgb(255, 245, 225);
  background: linear-gradient(180deg, rgba(255, 245, 225, 0.6671043417366946) 23%, rgba(245, 159, 0, 0.2805497198879552) 74%);
}
.website-logo {
  height: 120px;
  /* margin: 10px 10px 10px 20px; */
  background-color: none;
  border-radius: 12px;
}
/* Nav button */
#hangry-button {
  margin: 15px;
  /* height: 45px; */
  width: 10rem;
  padding: 0.6rem 1.2rem;
  background-color: #f59f00;
  color: #fff;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  text-transform: uppercase;
}
#hangry-button:hover {
  background-color: #fcc419;
}

/* Custom Css */
.custom-img-sizing {
  width: 100%;
  object-fit: cover;
  height: 40rem;
  filter: brightness(30%);
}

.custom-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.custom-btn {
  background-color: #f59f00;
  color: #fff;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 108%;
  font-weight: bold;
}
.custom-btn:hover {
  background-color: #fcc419;
  color: #fff;
}

.card {
  -webkit-box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 0px 15px 0px rgba(0, 0, 0, 0.3);
  width: 17rem;
  height: 25rem;
}

.card:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.08);
}

.ul-formatting {
  list-style: none;
  display: contents;
}

.custom-footer-bg {
  background-color: #a3a2a2;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  text-align: center;
}

.search-button:focus {
  outline: none;
}
/* Making the site Responsive  */
@media screen and (max-width: 999px) {
  header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: center; */
    align-items: center;
  }

  #hungry-button {
    width: 70%;
  }

  .criterias {
    display: flex;
    justify-content: space-evenly;
  }

  /* .contributers {
    text-align: right;
  } */
}
